*.pt filter=lfs diff=lfs merge=lfs -text
demo_images/defected/000.png filter=lfs diff=lfs merge=lfs -text
demo_images/defected/001.png filter=lfs diff=lfs merge=lfs -text
demo_images/defected/002.png filter=lfs diff=lfs merge=lfs -text
demo_images/defected/003.png filter=lfs diff=lfs merge=lfs -text
demo_images/defected/004.png filter=lfs diff=lfs merge=lfs -text
demo_images/defected/005.png filter=lfs diff=lfs merge=lfs -text
demo_images/defected/006.png filter=lfs diff=lfs merge=lfs -text
demo_images/defected/007.png filter=lfs diff=lfs merge=lfs -text
demo_images/defected/013.png filter=lfs diff=lfs merge=lfs -text
demo_images/defected/014.png filter=lfs diff=lfs merge=lfs -text
demo_images/defected/015.png filter=lfs diff=lfs merge=lfs -text
demo_images/defected/016.png filter=lfs diff=lfs merge=lfs -text
demo_images/defected/018.png filter=lfs diff=lfs merge=lfs -text
demo_images/defected/019.png filter=lfs diff=lfs merge=lfs -text
demo_images/defected/020.png filter=lfs diff=lfs merge=lfs -text
demo_images/defected/021.png filter=lfs diff=lfs merge=lfs -text
demo_images/defected/022.png filter=lfs diff=lfs merge=lfs -text
demo_images/defected/023.png filter=lfs diff=lfs merge=lfs -text
demo_images/good/000.png filter=lfs diff=lfs merge=lfs -text
demo_images/good/001.png filter=lfs diff=lfs merge=lfs -text
demo_images/good/002.png filter=lfs diff=lfs merge=lfs -text
demo_images/good/003.png filter=lfs diff=lfs merge=lfs -text
demo_images/good/004.png filter=lfs diff=lfs merge=lfs -text
demo_images/good/006.png filter=lfs diff=lfs merge=lfs -text
demo_images/good/007.png filter=lfs diff=lfs merge=lfs -text
demo_images/good/008.png filter=lfs diff=lfs merge=lfs -text
demo_images/good/009.png filter=lfs diff=lfs merge=lfs -text
demo_images/good/010.png filter=lfs diff=lfs merge=lfs -text
demo_images/good/011.png filter=lfs diff=lfs merge=lfs -text
demo_images/good/012.png filter=lfs diff=lfs merge=lfs -text
demo_images/good/013.png filter=lfs diff=lfs merge=lfs -text
demo_images/good/014.png filter=lfs diff=lfs merge=lfs -text
demo_images/good/015.png filter=lfs diff=lfs merge=lfs -text
demo_images/good/016.png filter=lfs diff=lfs merge=lfs -text
demo_images/good/017.png filter=lfs diff=lfs merge=lfs -text
demo_images/good/020.png filter=lfs diff=lfs merge=lfs -text
other/result.png filter=lfs diff=lfs merge=lfs -text
static/dataset/mvtec/mvtec_01.jpeg filter=lfs diff=lfs merge=lfs -text
static/dataset/mvtec/mvtec_02.jpeg filter=lfs diff=lfs merge=lfs -text
static/dataset/mvtec/mvtec_03.jpeg filter=lfs diff=lfs merge=lfs -text
static/dataset/mvtec/mvtec_04.jpeg filter=lfs diff=lfs merge=lfs -text
static/dataset/negatives/neg_01.jpeg filter=lfs diff=lfs merge=lfs -text
static/dataset/negatives/neg_02.jpeg filter=lfs diff=lfs merge=lfs -text
static/dataset/negatives/neg_03.jpeg filter=lfs diff=lfs merge=lfs -text
static/dataset/negatives/neg_04.jpeg filter=lfs diff=lfs merge=lfs -text
static/dataset/negatives/neg_05.jpeg filter=lfs diff=lfs merge=lfs -text
static/dataset/negatives/neg_06.jpeg filter=lfs diff=lfs merge=lfs -text
static/dataset/own/own_02.jpg filter=lfs diff=lfs merge=lfs -text
static/dataset/own/own_03.jpg filter=lfs diff=lfs merge=lfs -text
static/dataset/own/own_04.jpg filter=lfs diff=lfs merge=lfs -text
static/dataset/own/own_05.jpg filter=lfs diff=lfs merge=lfs -text
static/dataset/own/own_06.jpg filter=lfs diff=lfs merge=lfs -text
static/dataset/roboflow/roboflow_01.jpeg filter=lfs diff=lfs merge=lfs -text
static/dataset/roboflow/roboflow_02.jpeg filter=lfs diff=lfs merge=lfs -text
static/dataset/roboflow/roboflow_03.jpeg filter=lfs diff=lfs merge=lfs -text
static/dataset/roboflow/roboflow_04.jpeg filter=lfs diff=lfs merge=lfs -text
static/dataset/roboflow/roboflow_05.jpeg filter=lfs diff=lfs merge=lfs -text
static/dataset/roboflow/roboflow_06.jpeg filter=lfs diff=lfs merge=lfs -text
static/dataset/synthetic/synth_01.jpeg filter=lfs diff=lfs merge=lfs -text
static/dataset/synthetic/synth_02.jpeg filter=lfs diff=lfs merge=lfs -text
static/dataset/synthetic/synth_03.jpeg filter=lfs diff=lfs merge=lfs -text
static/dataset/synthetic/synth_04.jpeg filter=lfs diff=lfs merge=lfs -text
static/dataset/synthetic/synth_05.jpeg filter=lfs diff=lfs merge=lfs -text
static/dataset/visualized/img_000001.jpg filter=lfs diff=lfs merge=lfs -text
static/dataset/visualized/img_000003.jpg filter=lfs diff=lfs merge=lfs -text
static/dataset/visualized/img_000004.jpg filter=lfs diff=lfs merge=lfs -text
static/dataset/visualized/img_000005.jpg filter=lfs diff=lfs merge=lfs -text
static/dataset/visualized/img_000006.jpg filter=lfs diff=lfs merge=lfs -text
static/dataset/visualized/img_000007.jpg filter=lfs diff=lfs merge=lfs -text
static/dataset/visualized/img_000008.jpg filter=lfs diff=lfs merge=lfs -text
static/dataset/visualized/img_000009.jpg filter=lfs diff=lfs merge=lfs -text
static/dataset/visualized/img_000010.jpg filter=lfs diff=lfs merge=lfs -text
static/dataset/visualized/img_000012.jpg filter=lfs diff=lfs merge=lfs -text
static/output/batch_report.png filter=lfs diff=lfs merge=lfs -text
static/output/single_report.png filter=lfs diff=lfs merge=lfs -text
static/output/VisionQC[[:space:]]—[[:space:]]Inspection[[:space:]]Report.pdf filter=lfs diff=lfs merge=lfs -text
