numpy
pandas==2.3.3
matplotlib==3.10.8
opencv-python-headless==4.13.0.92
scikit-image==0.26.0
scikit-learn==1.6.1
tqdm
torch==2.5.1
torchvision==0.20.1
albumentations
tensorboard==2.19.0
Pillow==10.4.0
flask
flask-cors==6.0.2
ultralytics==8.4.34
lightning==2.6.1
kornia==0.8.2
einops==0.8.2
timm==1.0.26
FrEIA==0.2
torchmetrics==1.9.0
omegaconf==2.3.0
rich
anomalib==2.3.3
